#doadores-list table tbody tr {
    cursor: pointer;
    transition: 0.5s background-color;
}

#doadores-list table tbody tr:hover {
    background-color: #dc143c;
    color: white;
}

#doadores-form #botoes-down,
#doadores-list #botoes-up {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}