.custom-color-standard {
    background: #dc143c;
}

.ps-geral-lista li {
    cursor: pointer;
    transition: 0.5s background-color;
}

.ps-geral-lista li:hover {
    background-color: #dc143c;
    color: white;
}

.principal-botao-menu {    
    transition: 0.5s box-shadow;   
    transition: all .2s ease-in-out;
}

.principal-botao-menu:hover {
    cursor: pointer;
    -webkit-box-shadow: 25px 25px 41px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: 25px 25px 41px 13px rgba(0,0,0,0.75);
    box-shadow: 25px 25px 41px 13px rgba(0,0,0,0.75);
    transform: scale(1.1); 
}

#helloteste {
    color: #ff0000;
}

#doadores-list table tbody tr,
#hemonucleos-list table tbody tr {
    cursor: pointer;
    transition: 0.5s background-color;
}

#doadores-list table tbody tr:hover,
#hemonucleos-list table tbody tr:hover {
    background-color: #dc143c;
    color: white;
}

#doadores-form #botoes-down,
#doadores-list #botoes-up,
#hemonucleos-form #botoes-down,
#hemonucleos-list #botoes-up {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}